/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Oleo+Script:wght@400;700&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Oleo+Script:wght@400;700&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-l-bg-color: #f0ead6;
  --primary-l-color: #701c1c;
  --primary-d-bg-color: #1f1c2c;
  --primary-d-color: #928dab;
  --primary-bold-font: "Poppins", sans-serif;
  --heading-font: "Alfa Slab One", cursive;
  --primary-italic-font: "Pacifico", sans-serif;
  --secondary-italic-font: "Oleo Script", sans-serif;
  --secondary-normal-font: "Archivo Narrow", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-l-bg-color);
}

.navbar-cont {
  background-color: var(--primary-l-color);
  color: var(--primary-l-bg-color);
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-heading-cont {
  padding: 10px;
  margin-left: 1rem;
}

.navbar-heading {
  font-size: 2.7rem;
  font-weight: 900;
  letter-spacing: 2px;
  font-family: var(--heading-font);
}

.cart-logout-cont {
  padding: 15px;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.cart-icon {
  color: var(--primary-l-bg-color);
}

.logout-btn {
  padding: 10px;
  border-radius: 8px;
  border: 2px solid rgb(228, 190, 190);
  font-size: 1.2rem;
  box-shadow: 4px 3px 5px rgb(129, 65, 65);
  background-color: #e9d3d3;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
}

.logout-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(49, 49, 49, 0.3);
}

.login-signup-btn {
  padding: 10px;
  border-radius: 8px;
  border: 2px solid rgb(228, 190, 190);
  font-size: 1.2rem;
  box-shadow: 4px 3px 5px rgb(129, 65, 65);
  background-color: #d4bbbb;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
}

.login-signup-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(49, 49, 49, 0.3);
}

.productList-container {
  /* background-color: #d4bbbb; */
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
}

.header-cont {
  /* background-color: fuchsia; */
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  margin-top: 1.5rem;
}

.products-heading {
  font-size: 2.2rem;
  font-family: var(--secondary-italic-font);
  margin-left: 5rem;
}

.search-input {
  padding: 12px 20px;
  margin-right: 5rem;
  border-radius: 10px;
  background-color: var(--primary-l-bg-color);
}

.category-cont {
  /* background-color: palevioletred; */
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: end;
  gap: 4rem;
  margin-bottom: 1rem;
}

.category {
  padding: 10px;
  font-size: 1.2rem;
  margin: 0 1rem;
  border-radius: 10px;
  border: 1px solid rgb(241, 211, 211);
  background-color: var(--primary-l-bg-color);

  cursor: pointer;
}

.category:hover {
  transform: scale(1.05);
  box-shadow: 2px 4px 12px rgb(76, 4, 4);
  background-color: var(--primary-l-color);
  color: var(--primary-l-bg-color);
  border: 1px solid rgb(75, 3, 3);
}

.sort {
  padding: 10px;
  font-size: 1.2rem;
  margin: 0 1rem;
  border-radius: 10px;
  border: 1px solid rgb(241, 211, 211);
  background-color: var(--primary-l-bg-color);
  cursor: pointer;
}

.option:hover {
  background-color: var(--primary-l-color);
  color: var(--primary-l-bg-color);
}

.item-cont {
  /* background-color: #d4bbbb; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.product-card {
  background-color: var(--primary-l-bg-color);
  border: 1px solid rgb(226, 209, 209);
  box-shadow: 2px 5px 5px rgb(217, 208, 208);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.product-img {
  width: 70%;
}

.product-img:hover {
  transform: scale(1.1) translateY(-10px); /* Pop out effect */
  z-index: 2;
}

.product-title {
  font-size: 2rem;
  font-family: var(--secondary-italic-font);
  color: #3c3b41;
}

.product-price {
  font-size: 1.4rem;
  color: gray;
  font-weight: 700;
  font-family: var(--secondary-italic-font);
}

.link-btn-cont {
  margin-top: 1rem;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.P-detail-link {
  padding: 15px;
  font-size: 1.3rem;
  text-decoration: none;
  color: var(--primary-l-color);
}

.add-to-cart-btn {
  padding: 10px 15px;
  border-radius: 8px;
  font-family: var(--secondary-italic-font);
  border: 2px solid rgb(228, 190, 190);
  font-size: 1.2rem;
  box-shadow: 4px 3px 5px rgb(198, 187, 187);
  background-color: var(--primary-l-color);
  color: var(--primary-l-bg-color);
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
}

.add-to-cart-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(49, 49, 49, 0.3);
}

.prev-next-btn-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 3rem;
}

.prev-next-btn {
  padding: 10px 25px;
  border-radius: 8px;
  font-family: var(--secondary-italic-font);
  border: 2px solid rgb(228, 190, 190);
  font-size: 1.2rem;
  box-shadow: 4px 3px 5px rgb(198, 187, 187);
  background-color: var(--primary-l-color);
  color: var(--primary-l-bg-color);
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
}
.footer-cont {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  background-color: black;
  color: white;
}

.footer {
  font-size: 1.5rem;
}

.product-detail-cont {
  /* background-color: cadetblue; */
  width: 100%;
  height: 100vh;
  display: flex;
  /* align-items: center; */
  /* justify-content: space-between; */
}

.det-img-cont {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #928dab; */
}

.product-det-img {
  width: 700px;
  overflow: hidden;
}

.prod-details {
  /* background-color: yellowgreen; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  padding: 5rem;
  width: 50%;
}

.prod-det-heading {
  font-size: 3rem;
  font-family: var(--secondary-italic-font);
  font-weight: 900;
  letter-spacing: 1.5px;
  margin-top: 4rem;
  margin-bottom: 1rem;
  color: var(--primary-l-color);
}

.prod-det-des {
  font-size: 1.3rem;
  color: rgb(85, 83, 83);
  font-family: var(--secondary-normal-font);
  font-weight: 100;
  margin-bottom: 4rem;
}

.prod-det-price {
  font-weight: 900;
  font-size: 3rem;
  color: rgb(25, 24, 24);
  margin-bottom: 2.2rem;
}

.prod-det-rating {
  font-size: 1.8rem;
  color: rgb(88, 87, 87);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.prod-det-line {
  border: none; /* remove default border */
  height: 1px; /* thickness */
  background-color: #ded9d9; /* line color */
  width: 80%; /* line width */
  margin: 2.5rem 0;
}

.det-desc-heading {
  font-size: 2rem;
  font-family: var(--secondary-normal-font);
}

.prod-det-atc-btn {
  width: 100%;
  background-color: var(--primary-l-color);
  color: var(--primary-l-bg-color);
  padding: 15px;
  border-radius: 10px;
  border: 2px solid white;
  font-size: 1.5rem;
  cursor: pointer;
}

.prod-det-back-btn {
  background-color: var(--primary-l-color);
  color: var(--primary-l-bg-color);
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid white;
  font-size: 1.5rem;
  cursor: pointer;
  margin-top: 3px;
}

.cart-main-cont {
  display: flex;
  width: 100vw;
  /* background-color: blueviolet; */
  padding: 5rem;
  align-items: start;
  justify-content: space-around;
}

.cart-item {
  /* background-color: #7d4949; */
  border: 1px solid rgb(216, 211, 211);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* justify-content: space-between; */
  margin: 10px;
  padding: 20px;
  /* background-color: #928dab; */
}

.cart-item-list-cont {
  width: 60%;
}

.cart-img {
  /* padding: 10px; */
  border: 1px solid rgb(220, 217, 217);
  box-shadow: 1px 1px 1px rgb(213, 205, 205);
  border-radius: 15px;
}

.cart-item-price-cont {
  /* background-color: #928dab; */
  width: 300px;
}

.cart-title {
  font-family: var(--secondary-italic-font);
  font-weight: 700;
  font-size: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.cart-price {
  font-family: var(--secondary-italic-font);
  font-weight: 200;
  font-size: 1.2rem;
  color: rgb(78, 74, 74);
  margin-top: 3px;
}

.cart-sub-price {
  margin-top: 15px;
  font-size: 1rem;
  color: rgb(78, 74, 74);
}

.cart-item-qty-cont {
  /* background-color: #928dab; */
  display: flex;
  margin-left: 10px;
  gap: 20px;
}

.cart-btn {
  font-size: 1.5rem;
  border: 1px solid rgb(227, 225, 225);
  box-shadow: 2px 2px 2px rgb(237, 222, 222);
  font-weight: 900;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  background-color: var(--primary-l-bg-color);
}

.cart-item-qty {
  display: flex;
  align-items: center;
  font-size: 2rem;
  border: 1px solid rgb(227, 225, 225);
  box-shadow: 2px 2px 2px rgb(237, 222, 222);

  padding: 10px 25px;
}

.cart-remove-btn {
  font-size: 2rem;
  color: #701c1c;
  border: none;
  cursor: pointer;
}

.order-summary-cont {
  padding: 20px;
  border: 1px solid rgb(222, 216, 216);
  box-shadow: 2px 2px 2px rgb(237, 222, 222);
  border-radius: 15px;
}

.order-summ-header-cont {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  width: 100vw;
}

.cart-main-heading {
  font-size: 3rem;
  font-family: var(--secondary-normal-font);
  color: rgb(36, 36, 36);
}

.clear-cart-btn {
  background-color: var(--primary-l-color);
  color: var(--primary-l-bg-color);
  padding: 15px 30px;
  border-radius: 10px;
  border: 2px solid white;
  font-size: 1.5rem;
  cursor: pointer;
}

.summ-heading {
  font-size: 3rem;
  font-family: var(--secondary-italic-font);
  letter-spacing: 1px;
  font-weight: 400;
}

.total-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

.total {
  font-size: 2rem;
  font-family: var(--secondary-italic-font);
  color: #333235;
  font-weight: 200;
}

.total-price {
  font-size: 1.5rem;
  font-family: var(--secondary-italic-font);
  color: #333235;
  font-weight: 200;
}

.checkout-btn {
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  margin-top: 2rem;
  color: white;
  background-color: black;
  font-size: 1.2rem;
  cursor: pointer;
  margin-bottom: 2rem;
}

.continue-shopping-btn {
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  /* margin-top: 2rem; */
  color: black;
  background-color: var(--primary-l-bg-color);
  font-size: 1.2rem;
  cursor: pointer;
  margin-bottom: 2rem;
  border: 1px solid rgb(218, 213, 213);
}

.empty-cart-main-cont {
  width: 100vw;
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.empty-cart-cont {
  width: 400px;
  height: 400px;
  border: 1px solid rgb(223, 218, 218);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgb(221, 214, 214);
  padding: 20px;
}

.empty-cart-para {
  font-size: 1.5rem;
  font-family: var(--primary-italic-font);
  margin-bottom: 2rem;
}

.shop-now-btn {
  background-color: var(--primary-l-color);
  color: var(--primary-l-bg-color);
  padding: 5px;
  border-radius: 10px;
  border: 2px solid white;
  font-size: 1.5rem;
  cursor: pointer;
  font-family: var(--primary-italic-font);
  width: 100%;
}

.checkout-main-cont {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkout-cont {
  padding: 20px;
  /* width: 600px; */
  /* height: 400px; */
  border: 1px solid rgb(223, 218, 218);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgb(221, 214, 214);
  padding: 20px;
}

.place-order-btn {
  background-color: var(--primary-l-color);
  color: var(--primary-l-bg-color);
  padding: 10px 30px;
  border-radius: 10px;
  border: 2px solid white;
  font-size: 1.5rem;
  cursor: pointer;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.checkout-title {
  font-size: 1rem;
  margin-top: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.checkout-total {
  margin-top: 2rem;
}

.signup-main-cont {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-cont {
  background-color: wheat;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
