/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Oleo+Script:wght@400;700&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Oleo+Script:wght@400;700&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-l-bg-color: #f0ead6;
  --primary-l-color: #701c1c;
  --primary-d-bg-color: #1f1c2c;
  --primary-d-color: #928dab;
  --primary-bold-font: "Poppins", sans-serif;
  --heading-font: "Alfa Slab One", cursive;
  --primary-italic-font: "Pacifico", sans-serif;
  --secondary-italic-font: "Oleo Script", sans-serif;
  --secondary-normal-font: "Archivo Narrow", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-l-bg-color);
}

.navbar-cont {
  background-color: var(--primary-l-color);
  color: var(--primary-l-bg-color);
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-heading-cont {
  padding: 10px;
  margin-left: 1rem;
}

.navbar-heading {
  font-size: 2.7rem;
  font-weight: 900;
  letter-spacing: 2px;
  font-family: var(--heading-font);
}

.cart-logout-cont {
  padding: 15px;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.cart-icon {
  color: var(--primary-l-bg-color);
}

.logout-btn {
  padding: 10px;
  border-radius: 8px;
  border: 2px solid rgb(228, 190, 190);
  font-size: 1.2rem;
  box-shadow: 4px 3px 5px rgb(129, 65, 65);
  background-color: #e9d3d3;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
}

.logout-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(49, 49, 49, 0.3);
}

.login-signup-btn {
  padding: 10px;
  border-radius: 8px;
  border: 2px solid rgb(228, 190, 190);
  font-size: 1.2rem;
  box-shadow: 4px 3px 5px rgb(129, 65, 65);
  background-color: #d4bbbb;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
}

.login-signup-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(49, 49, 49, 0.3);
}

.productList-container {
  /* background-color: #d4bbbb; */
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
}

.header-cont {
  /* background-color: fuchsia; */
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  margin-top: 1.5rem;
}

.products-heading {
  font-size: 2.2rem;
  font-family: var(--secondary-italic-font);
  margin-left: 5rem;
}

.search-input {
  padding: 12px 20px;
  margin-right: 5rem;
  border-radius: 10px;
  background-color: var(--primary-l-bg-color);
}

.category-cont {
  /* background-color: palevioletred; */
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: end;
  gap: 4rem;
  margin-bottom: 1rem;
}

.category {
  padding: 10px;
  font-size: 1.2rem;
  margin: 0 1rem;
  border-radius: 10px;
  border: 1px solid rgb(241, 211, 211);
  background-color: var(--primary-l-bg-color);

  cursor: pointer;
}

.category:hover {
  transform: scale(1.05);
  box-shadow: 2px 4px 12px rgb(76, 4, 4);
  background-color: var(--primary-l-color);
  color: var(--primary-l-bg-color);
  border: 1px solid rgb(75, 3, 3);
}

.sort {
  padding: 10px;
  font-size: 1.2rem;
  margin: 0 1rem;
  border-radius: 10px;
  border: 1px solid rgb(241, 211, 211);
  background-color: var(--primary-l-bg-color);
  cursor: pointer;
}

.option:hover {
  background-color: var(--primary-l-color);
  color: var(--primary-l-bg-color);
}

.item-cont {
  /* background-color: #d4bbbb; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.product-card {
  background-color: var(--primary-l-bg-color);
  border: 1px solid rgb(226, 209, 209);
  box-shadow: 2px 5px 5px rgb(217, 208, 208);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.product-img {
  width: 70%;
}

.product-img:hover {
  transform: scale(1.1) translateY(-10px); /* Pop out effect */
  z-index: 2;
}

.product-title {
  font-size: 2rem;
  font-family: var(--secondary-italic-font);
  color: #3c3b41;
}

.product-price {
  font-size: 1.4rem;
  color: gray;
  font-weight: 700;
  font-family: var(--secondary-italic-font);
}

.link-btn-cont {
  margin-top: 1rem;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.P-detail-link {
  padding: 15px;
  font-size: 1.3rem;
  text-decoration: none;
  color: var(--primary-l-color);
}

.add-to-cart-btn {
  padding: 10px 15px;
  border-radius: 8px;
  font-family: var(--secondary-italic-font);
  border: 2px solid rgb(228, 190, 190);
  font-size: 1.2rem;
  box-shadow: 4px 3px 5px rgb(198, 187, 187);
  background-color: var(--primary-l-color);
  color: var(--primary-l-bg-color);
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
}

.add-to-cart-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(49, 49, 49, 0.3);
}

.prev-next-btn-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 3rem;
}

.prev-next-btn {
  padding: 10px 25px;
  border-radius: 8px;
  font-family: var(--secondary-italic-font);
  border: 2px solid rgb(228, 190, 190);
  font-size: 1.2rem;
  box-shadow: 4px 3px 5px rgb(198, 187, 187);
  background-color: var(--primary-l-color);
  color: var(--primary-l-bg-color);
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
}
.footer-cont {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  background-color: black;
  color: white;
}

.footer {
  font-size: 1.5rem;
}

.product-detail-cont {
  background-color: cadetblue;
  width: 100%;
  height: 100vh;
  display: flex;
}

.det-img-cont {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-det-img {
  width: 700px;
  overflow: hidden;
}
